body{
    background: #2E015C;
}
.back{
}
.progressbar {
    position: absolute;
    top: 5%;
    height: 5px;
    width: 80%;
    left: 10%;
    background: #0096EC;
    border-radius: 10px;
}

.task1 {
    position: absolute;
    top: 5%;
    width: 10%;
    height: 5px;
    background: #6BFF2F;
    border-radius: 10px;
}
.container {
    opacity: 100%;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 20%;
    width: 60%;
    background: linear-gradient(210deg,#003dce -2.6%,rgba(50, 163, 255, 1) 50%,#003dce 100%);
    border-radius: 51px;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, 0.5);
}

.flower1{
	position: absolute;
	background: url(img/img5.png);
	width: 25%;
    height: 50%;
	padding-left:2%;
	margin-left: 68%;
	margin-top: 2%;
	padding-top: %;
}
.flower2{
	margin-top: 12%;
	padding-top: 4%;
	position: absolute;
	background: url(img/img6.png);
	width: 15%;
	height: 50%;
    margin-left: 5%;
}


.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    padding-top: 13%;
    font-size: 22px;
    font: 15pt sans-serif;
    line-height:30px;
	font-weight: 700;
}
.button{
    width: 86%;
    padding-top: 5%;
    padding-left: 7%
}
.button2{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 7%;
}
.image{
}

img{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    transition: 0.2s;
    background: #004BAA;
}
.image img:hover{
    transform: translate(-5%,-5%);
    box-shadow: 5px 5px 1px 1px #004BAA;
}
